body{
    background-color: #4e54c8;
    display: flex;
    flex-direction: row;

    .sideMenu{
        flex: 1.25;
        display: flex;
        flex-direction: column;

        .logoPart{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .logo{
                width: 1.9rem;
                height: 1.6rem;
                padding-top: 1.3rem;
            }

            .planner{
                color: white;
                padding-top: 1.25rem;
                font-size: 1.2rem;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 1000;
                cursor: default;
            }
        }

        .menu{
            display: flex;
            flex-direction: column;

            .icon{
                color: white;
                display: flex;
                padding-right: 1rem;
                cursor: pointer;
            }
    
            h3{
                color: white;
                display: flex;
                justify-content: right;
                padding-right: 1rem;
                cursor: pointer;
            }

            .div{
                display: flex;
                padding-top: 1rem;
                padding-left: 1rem;
                border-radius: 2rem;
                background-color: #4e54c8;
                border: none;
            }
        }
    }

    .mainPart{
        flex: 10;
        display: flex;
        flex-direction: row;
        margin: 0.35rem;
        border-radius: 1.5rem;
        background-color: white;
        box-shadow: inset 0 -1em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

        .note{
            flex: 1.1;
            display: flex;
            flex-direction: column;
            background-color: rgb(224, 224, 224);
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
            padding-top: 1.5rem;
            align-items: center;

            .comment{
                display: flex;
                margin-top: 0.75rem;
                border: none;
                border-radius: 1rem;
                min-width: 19rem;
                max-width: 19rem;
                min-height: 11rem;
                max-height: 26rem;
                padding-left: 1rem;
                padding-top: 1rem;
                font-size: 0.9rem;
                background-color: rgb(230, 148, 255);
                font-family: Arial, Helvetica, sans-serif;
            }
            .comment:focus{
                outline: none;
            }

            .datePicker{
                width: 18rem;
                display: flex;
                align-content: center;

                .dateInput{
                    width: 6rem;
                    height: 2rem;
                    border: none;
                    border-radius: 0.5rem;
                    padding-left: 0.75rem;
                    margin-top: 0.75rem;
                }
                .dateInput:focus{
                    outline: none;
                }

                .dateIcon{
                    margin-top: 0.25rem;
                }

                .saveButton{
                    height: 2.1rem;
                    border-radius: 0.5rem;
                    margin-right: 5rem;
                    margin-top: 0.75rem;
                }
            }
        }

        .tasks{
            flex: 2;

            .chipDiv{
                display: flex;
                flex-wrap: wrap;
                margin-left: 0.5rem;
                margin-right: 2.5rem;

                .chips{

                    .chip{
                        margin: 0.5rem;
                    }
                }

                .menu{
                    position: absolute;
                    margin-left: 41rem;
                }
            }

            .taskDiv{
                margin-left: 4rem;
                margin-right: 4rem;
                margin-top: 2rem;
                height: 25rem;
                overflow: auto;

                .list{
                    border-radius: 0.75rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    margin-top: 0.25rem;
                    background-color: plum;

                    .checkbox{
                        font-size: 1.30rem;
                        margin-top: 0.75rem;
                        color: rgb(57, 57, 57);
                    }

                    .delete{
                        float: right;
                        color: rgb(57, 57, 57);
                        margin-top: 0.25rem;
                    }

                    .bottom{
                        display: flex;

                        .catLabel{
                            margin-left: 0.85rem;
                        }
    
                        .dateLabel{
                            margin-left: 0.5rem;
                        }
                    }
                }
            }

            .addTaskBtn{
                position: absolute;
                background-color: #4e54c8;
                margin-top: 1rem;
                margin-left: 39rem;
                width: 4rem;
                height: 4rem;
            }
        }
    }
}